@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/static/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
